@model AddressBookMVC.Models.Contact
@inject AddressBookMVC.Services.Interfaces.IImageService _imageService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <div class="border border-2 border-secondary shadow-lg p-3 bg-light row">
        <div class="col-12 col-md-5">
            <img src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" class="img-fluid" />
        </div>
        <div class="col-12 col-md-7">

            <dl class="row pt-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Address1)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Address1)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Address2)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Address2)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Zip)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Zip)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-4 mt-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-8 mt-2">
                    @Html.DisplayFor(model => model.Created)
                </dd>
            </dl>
        </div>
        <div class="d-flex flex-row-reverse">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>


